#footer{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 5px;
	font-weight:bold;
}
#encabe{
	background-color:#2067B5;
}
#cerrar{
	position:absolute; 
	right:10px; 
	top:10px;
}
body{
	background:url(reporte.jpg) center 40px no-repeat;
	margin:0;
	padding:0;
}
a:link, a:visited{
	text-decoration:none;
	color:#000000;
}
a:hover{
	text-decoration:none;
	color:#E4E4E4;
}

.rconte {
	float: left;
	color:#000000;
	font-size=0.9em;
	background-color:#A091FF;
	border-radius:5px;
	margin:2px;
	opacity:0.8;
	filter:alpha(opacity=80);
	width:250px;
}

.rconte:hover {
	color:#FFFFFF;
	opacity:1;
	filter:alpha(opacity=100);
}

.pconte {
	float: left;
	color:#000000;
	font-size=0.9em;
	background-color:#FFBA5A;
	border-radius:5px;
	margin:2px;
	opacity:0.8;
	filter:alpha(opacity=80);
	width:250px;
}

.pconte:hover {
	color:#FFFFFF;
	opacity:1;
	filter:alpha(opacity=100);
}