.little  { color: #9B9B9B; font-family: Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert   { color: #DD0000; font-family: Verdana, Arial, Helvetica;	font-size: 8pt; }
.alert p {margin:0;}

.micro, .micro a { font: 12px "Trebuchet ms",Verdana,Tahoma,Arial,sans-serif; color: #bbb; font-weight: normal;}
.normal {	color: #9B9B9B;	font-family: Verdana, Arial, Helvetica;	font-size: 9pt;}

.mainbackground { }
.pagenav { background: #7098D0;	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 10px;	font-weight: bold;padding:3px 6px; }
.pagenav a { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; border: 1px solid; padding:3px 6px;background: #DDDDDD;text-decoration:none; }
.pagenav a:hover{ font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; border: 1px solid; color:#DDDDDD; padding:6px 12px;background: #124194 }
.mainheader { clear:both;  border-bottom: 1px solid #ECECEC; height:22px; padding:4px; color: #153D51; font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px;font-weight: bold;}
.mainfooter { clear:both;  border-color: #92B8CB;  border-top:1px solid #ECECEC; height:22px; padding:4px; color: #153D51; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;	font-size: 11px;	font-weight: bold;}
.littletablerow       { color: #151515;	border-bottom: 1px solid #ECECEC;	 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 10px;}
.littletablerow10     { color: #153D51;	border-bottom: 1px solid #ECECEC;	 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 10px;}
.littletablerowth     { color: #153D51;	border-bottom: 1px solid #ECECEC;	 font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; font-weight: bold;}
.littletableheader    { background: #F9F9F9; 	border-bottom: 1px solid #ECECEC;	color: #999999;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px;	padding-left:5px;}
.littletableheader10  { background: #F9F9F9; 	border-bottom: 1px solid #ECECEC;	color: #999999;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 10px;	padding-left:5px;}
.littletableheaderc { border-bottom: 1px solid #BCDCBC;	color: #112233;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 10px;	padding-left:5px;}
.littletablefilter  { background: #D7DEFE; 	border-bottom: 1px solid #ECECEC;	color: #333333;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px;	padding-left:5px;}
.littletableheaderdet { background: #7098D0; 	border-bottom: 1px solid #ECECEC;	color: #FCFCFC;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;  font-weight: bold;font-size: 12px;	padding-left:5px;}
.tableheader       { background: #7098D0; 	border-bottom: 1px solid #FcFcFc;	color: #003311;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px;}
.tableheaderm      { background: #623A31; 	border-bottom: 1px solid #FcFcFc;	color: #FFFFFF;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px;}
.tableheader10     { background: #7098D0; 	border-bottom: 1px solid #FcFcFc;	color: #003311;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 10px;}
.tableheader_clean { background: #8FB6EE; color: #002211;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif; font-size: 12px;}
.tablerow {	border-bottom: 1px solid #D0D0D0;	color: #153D51;	font-family: Verdana, Arial, Helvetica;	font-size: 11px;	font-weight: normal;}
tr.odd {background-color:inherit;}
tr.even {background-color:#F3F3F3;}
td.grup {background-color:#F0F0F0; font-weight: bold;font-size:12px; color:#153D51;}

form { margin:0; padding: 0;} 
.input, .select, .password, .textarea  { font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; margin: 0; padding: 2px; border: 1px solid #92B8CB; border-left:2px solid #92B8CB;}
.inputnum  {font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; margin: 0;padding: 2px; border: 1px solid #92B8CB; border-left:2px solid #92B8CB; text-align: right;}
.inputonlynum  {font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px; margin: 0;padding: 2px; border: 1px solid #92B8CB; border-left:2px solid #92B8CB; text-align: right;}
.button {  color:#FFFFFF;	font-family: Verdana, Arial, Helvetica;	font-size: 12px; font-weight: normal;; background-color: #112211; PADDING: 4px  }
.button_red {	background-color: #FF3300;	 border: 1px solid #CC3300; color: White;	font-family: Verdana, Arial, Helvetica;	font-size: 10px; font-weight: normal;	text-decoration: none;}
.littlebutton {	background-color: #BED6E0;	border: 1px solid #92B8CB;	color: #153D51;	font-family: Lucida Grande, Verdana, Geneva, Sans-serif;	font-size: 12px;	text-decoration: none;}

body.mceContentBody { background: #000; color: #fff; }

ul.tabs {margin: 0;padding: 0;float: left;list-style: none;height: 32px;border-bottom: 1px solid #999;border-left: 1px solid #999;width: 100%;}
ul.tabs li {float: left;margin: 0;padding: 0;height: 31px;line-height: 31px;border: 1px solid #999;border-left: none;margin-bottom: -1px;background: #e0e0e0;overflow: hidden;position: relative;}
ul.tabs li a {text-decoration: none;color: #000;display: block;font-size: 1.2em;padding: 0 20px;border: 1px solid #fff;outline: none;}
ul.tabs li a:hover {background: #ccc;}
html ul.tabs li.active, html ul.tabs li.active a:hover  {background: #fff;border-bottom: 1px solid #fff;}
.tab_container {border: 1px solid #999;border-top: none;clear: both;float: left;width: 100%;background: #fff;-moz-border-radius-bottomright: 5px;-khtml-border-radius-bottomright: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;-khtml-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius: 5px;}
.tab_content {padding: 20px;font-size: 1.2em;}
.tab_content h2 {font-weight: normal;padding-bottom: 10px;border-bottom: 1px dashed #ddd;font-size: 1.8em;}
.tab_content h3 a{color: #254588;}
.tab_content img {float: left;margin: 0 20px 20px 0;border: 1px solid #ddd;padding: 5px;}

.bordetabla {margin-top: 2px; border: 1px solid #7799BE; background-color: #F7F7F7;}
.titulotabla {background-color: #C6D7EC;border: 1px solid #FFFFFF;}
.subtitulotabla {font-family: Verdana, Arial, Helvetica;	font-size: 12px;border: 1px solid #FFFFFF;font-weight:bold}
.titulofieldset {font-family: Verdana, Arial, Helvetica;	font-size: 14px;font-weight:bold}

